@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

main { 
  /* background: #131313; */
  color: #fff;  
  font-family: 'Fira Mono', monospace;
  margin: 0;
  text-align: center;  
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

.glitch_show {
  animation: glitch 1s linear infinite;
  font-size: 96px;
  /* letter-spacing: -7px; */
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.glitch_show:before,
.glitch_show:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch_show:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.glitch_show:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}
