.dayNight {
  display: none
}

main {
  display: -webkit-box;
  display: flex;
  height: 95%;;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
main .circle {
  width: 260px;
  height: 260px;
  display: block;
  background: #fff;
  border-radius: 100%;
  position: relative;
  -webkit-animation: rotation 2s linear infinite;
          animation: rotation 2s linear infinite;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
main .circle .inner {
  width: 150px;
  height: 150px;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 1000%;
  box-shadow: 0 -100px 0 -50px currentColor;
  -webkit-animation: switch 8s ease-in-out infinite;
          animation: switch 8s ease-in-out infinite;
}
@-webkit-keyframes switch {
  0% {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 150px;
    height: 150px;
    box-shadow: 0 -100px 0 -50px currentColor;
  }
  25% {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 150px;
    height: 150px;
    box-shadow: 0 -100px 0 -50px currentColor;
  }
  50% {
    top: calc(100% - 55px);
    width: 45px;
    height: 45px;
    box-shadow: 0 -100px 0 50px currentColor;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  75% {
    top: calc(100% - 55px);
    width: 45px;
    height: 45px;
    box-shadow: 0 -100px 0 50px currentColor;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 150px;
    height: 150px;
    box-shadow: 0 -100px 0 -50px currentColor;
  }
}
@keyframes switch {
  0% {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 145px;
    height: 145px;
    box-shadow: 0 -100px 0 -50px currentColor;
  }
  25% {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 145px;
    height: 145px;
    box-shadow: 0 -100px 0 -50px currentColor;
  }
  50% {
    top: calc(100% - 55px);
    width: 45px;
    height: 45px;
    box-shadow: 0 -100px 0 50px currentColor;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  75% {
    top: calc(100% - 55px);
    width: 45px;
    height: 45px;
    box-shadow: 0 -100px 0 50px currentColor;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 145px;
    height: 145px;
    box-shadow: 0 -100px 0 -50px currentColor;
  }
}
